@model HyperShop.Models.ViewModels.CustomerProductListVM

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Ladies</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-3">
                <!-- *** MENUS AND FILTERS *** ____________________________________________ -->
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Categories</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column category-menu">
                            <li>
                                <a href="category.html" class="nav-link">Men <span class="badge badge-secondary">42</span></a>
                            </li>
                            <li>
                                <a href="category.html" class="nav-link active">Ladies  <span class="badge badge-light">123</span></a>
                            </li>
                            <li>
                                <a href="category.html" class="nav-link">Kids  <span class="badge badge-secondary">11</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*------------ Brands form -----------*@
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                    </div>
                    <div class="card-body">
                        <form id="brand_form">
                            <div class="form-group">
                                @foreach (var brand in Model.Brands)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="@brand.Id"> @brand.Name
                                        </label>
                                    </div>
                                }
                            </div>
                            <button class="btn btn-default btn-sm btn-primary btn-apply"><i class="fa fa-pencil"></i> Apply</button>
                        </form>
                    </div>
                </div>
                @*------------ Color form ------------*@
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                    </div>
                    <div class="card-body">
                        <form id="color_form">
                            <div class="form-group">
                                @foreach (var color in Model.Colors)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="@color.Id"><span class="colour white"></span> @color.ColorValue
                                        </label>
                                    </div>
                                }
                            </div>
                            <button class="btn btn-default btn-sm btn-primary btn-apply"><i class="fa fa-pencil"></i> Apply</button>
                        </form>
                    </div>
                </div>
                @*------------- Gender ---------------*@
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Genders <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                    </div>
                    <div class="card-body">
                        <form id="gender_form">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Male"><span class="colour white"></span> Male
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Female"><span class="colour white"></span> Female
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Unisex"><span class="colour white"></span> Unisex
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-default btn-sm btn-primary btn-apply"><i class="fa fa-pencil"></i> Apply</button>
                        </form>
                    </div>
                </div>
                @*-------------- Height --------------*@
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Height <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                    </div>
                    <div class="card-body">
                        <form id="height_form">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Hight"><span class="colour white"></span> Hight
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Low"><span class="colour white"></span> Low
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Mid"><span class="colour white"></span> Mid
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-default btn-sm btn-primary btn-apply"><i class="fa fa-pencil"></i> Apply</button>
                        </form>
                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END ***-->
                @*<div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>*@
            </div>
            <div class="col-lg-9">
                <div class="box">
                    <h1>Ladies</h1>
                    <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
                </div>
                <div class="box info-bar">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 products-showing">
                            Showing <strong id="products_showing">12</strong> of <strong id="products_total">25</strong> products
                        </div>
                        <div class="col-md-12 col-lg-7 products-number-sort">
                            <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                <div class="products-number">
                                    <strong>Show</strong>
                                    <a class="btn btn-sm btn-primary" onclick="FetchAvailableProduct(null, {itemPerPage:6, pageNumber:1})">6</a>
                                    <a class="btn btn-outline-secondary btn-sm" onclick="FetchAvailableProduct(null, {itemPerPage:9, pageNumber:1})">9</a>
                                    <a class="btn btn-outline-secondary btn-sm">All</a>
                                    <span>products</span></div>
                                <div class="products-sort-by mt-2 mt-lg-0">
                                    <strong>Sort by</strong>
                                    <select name="sort-by" class="form-control">
                                        <option>Price</option>
                                        <option>Name</option>
                                        <option>Sales first</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row products" id="product_area">
                </div>
                <div class="pages">
                    <p class="loadMore"><a class="btn btn-primary btn-lg" onclick="FetchAvailableProduct(null, {itemPerPage:9, pageNumber:1})"><i class="fa fa-chevron-down"></i> Load more</a></p>
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination" id="pagination">
                            <li class="page-item" id="previous"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                            @*<li class="page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>*@
                            <li class="page-item" id="Next"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /.col-lg-9-->
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/availableProduct.js"></script>
}
