@model HyperShop.Models.ViewModels.CheckoutVM
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
                    </ol>
                </nav>
            </div>
            <div id="checkout" class="col-lg-9">
                <div class="box">
                    <form method="post" asp-area="Customer" asp-controller="Checkout" asp-action="CreateOrder" >
                        <h1>Checkout - Address</h1>
                        <div class="nav flex-column flex-md-row nav-pills text-center"><a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker">                  </i>Address</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-truck">                       </i>Delivery Method</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-money">                      </i>Payment Method</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye">                     </i>Order Review</a></div>
                        <div class="content py-3">
                            <div class="row">
                                <input asp-for="Order.Id" type="hidden" />
                                <input asp-for="Order.User_Id" type="hidden" />
                                <input asp-for="Order.TotalCost" type="hidden"/>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Order.Receiver"></label>
                                        <input asp-for="Order.Receiver" type="text" class="form-control">
                                        <span asp-validation-for="Order.Receiver" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Order.PhoneNumber"></label>
                                        <input asp-for="Order.PhoneNumber" type="tel" class="form-control">
                                        <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Order.Email"></label>
                                        <input asp-for="Order.Email" type="text" class="form-control">
                                        <span asp-validation-for="Order.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Order.Note"></label>
                                        <textarea rows=3 asp-for="Order.Note" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="Order.Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                             <!-- /.row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Order.Address"></label>
                                        <input asp-for="Order.Address" type="text" class="form-control">
                                        <span asp-validation-for="Order.Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Order.CityShipCost_Id"></label>
                                        <select id="select_city" asp-for="Order.CityShipCost_Id" asp-items="@Model.CityList" type="text" class="form-control">
                                            <option selected disabled>--Select City--</option>
                                        </select>
                                        <span asp-validation-for="Order.CityShipCost_Id" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer d-flex justify-content-between">
                            @*<a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>*@
                            <button type="submit" class="btn btn-primary">Create Order<i class="fa fa-chevron-right"></i></button>
                        </div>
                    </form>
                </div>
                <!-- /.box-->
            </div>
            <!-- /.col-lg-9-->
            <div class="col-lg-3">
                <div id="order-summary" class="card">
                    <div class="card-header">
                        <h3 class="mt-4 mb-4">Order summary</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>$@Model.Order.TotalCost.00</th>
                                    </tr>
                                    <tr class="ship-cost" data-ship-cost = 0>
                                        <td>Shipping and handling</td>
                                        <th>$00.00</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total" data-total=@Model.Order.TotalCost>
                                        <td>Total</td>
                                        <th>$@Model.Order.TotalCost.00</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-3-->
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/checkout.js"></script>
}